# Sustainability Analysis

### This project analyzes the data related to the United Nation's Global Sustainable Development Goal 12: "Ensure sustainable consumption and production patterns," in order to visualize trends and predict if the targets will be met by the goal target's deadlines.

### Goal and targets are as followed:

GOAL 12
  Ensure sustainable consumption and production patterns

TARGET 12.1
  Implement the 10-Year Framework of Programmes on Sustainable Consumption and Production Patterns, all countries taking action, with developed countries taking the lead, taking into account the development and capabilities of developing countries

TARGET 12.2
  By 2030, achieve the sustainable management and efficient use of natural resources

TARGET 12.3
  By 2030, halve per capita global food waste at the retail and consumer levels and reduce food losses along production and supply chains, including post-harvest losses

TARGET 12.4
  By 2020, achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks, and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on human health and the environment

TARGET 12.c
  Rationalize inefficient fossil-fuel subsidies that encourage wasteful consumption by removing market distortions, in accordance with national circumstances, including by restructuring taxation and phasing out those harmful subsidies, where they exist, to reflect their environmental impacts, taking fully into account the specific needs and conditions of developing countries and minimizing the possible adverse impacts on their development in a manner that protects the poor and the affected communities

TARGET 12.b
  Develop and implement tools to monitor sustainable development impacts for sustainable tourism that creates jobs and promotes local culture and products


Imported xlsx files and information on goal 12 are from the UN's SDG database website: https://unstats.un.org/sdgs/indicators/database

# Import Dependencies

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
import os

# Read in xlsx files related to UN's Goal of Sustainability

## Electronic Waste Datasets

In [5]:
# 1st xlsx: electronic waste generated, per capita (kg) 
# Goal 12, Target 12.4, Indicator 12.4.2
e_waste_pc = pd.read_excel('data/EN_EWT_GENPCAP.xlsx')
e_waste_pc.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12,12.4,12.4.2,EN_EWT_GENPCAP,"Electronic waste generated, per capita (Kg)",4,Afghanistan,E,G,KG,...,0.254903,0.297841,0.342332,0.385085,0.427947,0.468858,0.509681,0.549503,0.592546,0.630326
1,12,12.4,12.4.2,EN_EWT_GENPCAP,"Electronic waste generated, per capita (Kg)",2,Africa,E,G,KG,...,1.736518,1.882356,1.991023,2.095194,2.187254,2.262542,2.333871,2.384393,2.438595,2.486051

In [4]:
e_waste_pc.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'Nature', 'Reporting Type', 'Units',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'],
      dtype='object')

In [6]:
# Only keep necessary columns
e_waste_pc = e_waste_pc[['Target', 'Indicator', 'SeriesDescription', 'GeoAreaName', 'Units',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019']]
e_waste_pc.head(2)

,Target,Indicator,SeriesDescription,GeoAreaName,Units,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Afghanistan,KG,0.064123,0.068659,0.074788,0.083986,0.094898,...,0.254903,0.297841,0.342332,0.385085,0.427947,0.468858,0.509681,0.549503,0.592546,0.630326
1,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Africa,KG,0.850446,0.904585,0.961481,1.021856,1.091787,...,1.736518,1.882356,1.991023,2.095194,2.187254,2.262542,2.333871,2.384393,2.438595,2.486051

In [7]:
# 2nd xlsx: electronic waste generated in metric unit Tonnes
# Goal 12, Target 12.4, Indicator 12.4.2
e_waste_total = pd.read_excel('data/EN_EWT_GENV.xlsx')
e_waste_total.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12,12.4,12.4.2,EN_EWT_GENV,Electronic waste generated (Tonnes),4,Afghanistan,E,G,TONNES,...,7.341974e+03,8.848573e+03,1.050856e+04,1.221951e+04,1.401868e+04,1.581739e+04,1.766350e+04,1.952385e+04,2.134352e+04,2.301319e+04
1,12,12.4,12.4.2,EN_EWT_GENV,Electronic waste generated (Tonnes),2,Africa,E,G,TONNES,...,1.623176e+06,1.783923e+06,1.943366e+06,2.097974e+06,2.244913e+06,2.382539e+06,2.515126e+06,2.649666e+06,2.780043e+06,2.905206e+06

In [8]:
# Only keep necessary columns
e_waste_total = e_waste_total[['Target', 'Indicator', 'SeriesDescription', 'GeoAreaName', 'Units',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019']]
e_waste_total.head(2)

,Target,Indicator,SeriesDescription,GeoAreaName,Units,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12.4,12.4.2,Electronic waste generated (Tonnes),Afghanistan,TONNES,1310.912736,1462.783356,1660.511207,1941.416410,2279.356371,...,7.341974e+03,8.848573e+03,1.050856e+04,1.221951e+04,1.401868e+04,1.581739e+04,1.766350e+04,1.952385e+04,2.134352e+04,2.301319e+04
1,12.4,12.4.2,Electronic waste generated (Tonnes),Africa,TONNES,620085.609183,676266.228815,735815.811708,801704.357828,878039.257946,...,1.623176e+06,1.783923e+06,1.943366e+06,2.097974e+06,2.244913e+06,2.382539e+06,2.515126e+06,2.649666e+06,2.780043e+06,2.905206e+06

### Merge the electronic waste dataframes

In [9]:
# Merge the two dataFrames 
merged_e_waste = pd.merge(e_waste_pc, e_waste_total, on="GeoAreaName")
merged_e_waste.head(2)

,Target_x,Indicator_x,SeriesDescription_x,GeoAreaName,Units_x,2000_x,2001_x,2002_x,2003_x,2004_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
0,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Afghanistan,KG,0.064123,0.068659,0.074788,0.083986,0.094898,...,7.341974e+03,8.848573e+03,1.050856e+04,1.221951e+04,1.401868e+04,1.581739e+04,1.766350e+04,1.952385e+04,2.134352e+04,2.301319e+04
1,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Africa,KG,0.850446,0.904585,0.961481,1.021856,1.091787,...,1.623176e+06,1.783923e+06,1.943366e+06,2.097974e+06,2.244913e+06,2.382539e+06,2.515126e+06,2.649666e+06,2.780043e+06,2.905206e+06

## Electronic Waste Recycling Datasets

In [10]:
# 3rd xlsx: electronic waste recycling, per capita (kg) 
# Goal 12, Target 12.4, Indicator 12.4.2
e_recycling_pc = pd.read_excel('data/EN_EWT_RCYPCAP.xlsx')
e_recycling_pc.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12,12.4,12.4.2,EN_EWT_RCYPCAP,"Electronic waste recycling, per capita (Kg)",8,Albania,E,G,KG,NaN,NaN,NaN,3.237495,4.242644,4.889079,5.103762,5.303011,5.477067,5.639709
1,12,12.4,12.4.2,EN_EWT_RCYPCAP,"Electronic waste recycling, per capita (Kg)",28,Antigua and Barbuda,E,G,KG,NaN,NaN,NaN,NaN,11.883926,11.755779,12.078921,12.385940,12.666956,12.948181

In [12]:
e_recycling_pc.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'Nature', 'Reporting Type', 'Units',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [15]:
# Only keep necessary columns
e_recycling_pc = e_recycling_pc[['Target', 'Indicator', 'SeriesDescription', 'GeoAreaName', 'Units',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019']]
e_recycling_pc.head(2)

,Target,Indicator,SeriesDescription,GeoAreaName,Units,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12.4,12.4.2,"Electronic waste recycling, per capita (Kg)",Albania,KG,NaN,NaN,NaN,3.237495,4.242644,4.889079,5.103762,5.303011,5.477067,5.639709
1,12.4,12.4.2,"Electronic waste recycling, per capita (Kg)",Antigua and Barbuda,KG,NaN,NaN,NaN,NaN,11.883926,11.755779,12.078921,12.385940,12.666956,12.948181

In [11]:
# 4th xlsx: electronic waste recycling, in metric tonnes
# Goal 12, Target 12.4, Indicator 12.4.2
e_recycling_total = pd.read_excel('data/EN_EWT_RCYV.xlsx')
e_recycling_total.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12,12.4,12.4.2,EN_EWT_RCYV,Electronic waste recycling (Tonnes),8,Albania,E,G,TONNES,NaN,NaN,NaN,9401.0,12288.0,14132.0,14731.64,15294.78,15788.93,16247.51
1,12,12.4,12.4.2,EN_EWT_RCYV,Electronic waste recycling (Tonnes),28,Antigua and Barbuda,E,G,TONNES,NaN,NaN,NaN,NaN,1100.0,1100.0,1141.70,1181.93,1219.60,1257.46

In [16]:
# Only keep necessary columns
e_recycling_total = e_recycling_total[['Target', 'Indicator', 'SeriesDescription', 'GeoAreaName', 'Units',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019']]
e_recycling_total.head(2)

,Target,Indicator,SeriesDescription,GeoAreaName,Units,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12.4,12.4.2,Electronic waste recycling (Tonnes),Albania,TONNES,NaN,NaN,NaN,9401.0,12288.0,14132.0,14731.64,15294.78,15788.93,16247.51
1,12.4,12.4.2,Electronic waste recycling (Tonnes),Antigua and Barbuda,TONNES,NaN,NaN,NaN,NaN,1100.0,1100.0,1141.70,1181.93,1219.60,1257.46

### Merge the electronic waste recycling dataframes

In [17]:
# Merge the two dataFrames 
merged_e_recycling = pd.merge(e_waste_pc, e_waste_total, on="GeoAreaName")
merged_e_recycling.head(2)

,Target_x,Indicator_x,SeriesDescription_x,GeoAreaName,Units_x,2000_x,2001_x,2002_x,2003_x,2004_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
0,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Afghanistan,KG,0.064123,0.068659,0.074788,0.083986,0.094898,...,7.341974e+03,8.848573e+03,1.050856e+04,1.221951e+04,1.401868e+04,1.581739e+04,1.766350e+04,1.952385e+04,2.134352e+04,2.301319e+04
1,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Africa,KG,0.850446,0.904585,0.961481,1.021856,1.091787,...,1.623176e+06,1.783923e+06,1.943366e+06,2.097974e+06,2.244913e+06,2.382539e+06,2.515126e+06,2.649666e+06,2.780043e+06,2.905206e+06

## Hazardous Waste Datasets

In [18]:
# 5th xlsx: hazardous waste generated, per unit of GDP
# Goal 12, Target 12.4, Indicator 12.4.2
haz_waste_GDP = pd.read_excel('data/EN_HAZ_GENGDP.xlsx')
haz_waste_GDP.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,...,2007,2008,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.4,12.4.2,EN_HAZ_GENGDP,"Hazardous waste generated, per unit of GDP (ki...",12,Algeria,C,G,KG_PER_CON_USD,...,0.002486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12,12.4,12.4.2,EN_HAZ_GENGDP,"Hazardous waste generated, per unit of GDP (ki...",20,Andorra,C,G,KG_PER_CON_USD,...,NaN,NaN,NaN,NaN,NaN,0.000358,0.000746,0.000636,0.000671,0.000524

In [19]:
# 6th xlsx: hazardous waste generated, in metric tonnes
# Goal 12, Target 12.4, Indicator 12.4.2
haz_waste_total = pd.read_excel('data/EN_HAZ_GENV.xlsx')
haz_waste_total.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.4,12.4.2,EN_HAZ_GENV,Hazardous waste generated (Tonnes),12,Algeria,C,G,TONNES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12,12.4,12.4.2,EN_HAZ_GENV,Hazardous waste generated (Tonnes),20,Andorra,C,G,TONNES,...,NaN,NaN,NaN,NaN,NaN,976.0,2081.0,1788.0,1923.40002,1527.5

In [20]:
# 7th xlsx: hazardous waste treated, by type of treatment
# Goal 12, Target 12.4, Indicator 12.4.2
haz_waste_treated = pd.read_excel('data/EN_HAZ_TREATV.xlsx')
haz_waste_treated.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Type of waste treatment,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.4,12.4.2,EN_HAZ_TREATV,"Hazardous waste treated, by type of treatment ...",28,Antigua and Barbuda,C,G,LANDFIL,...,100.860001,52.959999,23.059999,157.220001,7.940000,7.16,13.6,16.600000,NaN,NaN
1,12,12.4,12.4.2,EN_HAZ_TREATV,"Hazardous waste treated, by type of treatment ...",51,Armenia,C,G,INCINRT,...,1359.000000,456.000000,300.000000,12.000000,167.399994,17.00,2379.0,289.700012,604.900024,582.799988

## Domestic Material Consumption Datasets

In [21]:
# 8th xlsx: domestic material consumption per capita, by type of product
# Goal 12, Target 12.2, Indicator 12.2.2
dom_mat_consumption_pc = pd.read_excel('data/EN_MAT_DOMCMPC.xlsx')
dom_mat_consumption_pc.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Type of product,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,Afghanistan,E,G,BIM,...,1.72341,1.97509,1.93652,1.82431,1.90564,1.83294,1.82012,1.80205,1.78902,1.77893
1,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,Afghanistan,E,G,COL,...,0.01271,0.01785,0.02517,0.02440,0.02443,0.04246,0.04633,0.04798,0.04962,0.05124

In [22]:
# 9th xlsx: domestic material consumption per unit of GDP, by type of product
# Goal 12, Target 12.2, Indicator 12.2.2
dom_mat_consumption_GDP = pd.read_excel('data/EN_MAT_DOMCMPG.xlsx')
dom_mat_consumption_GDP.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Type of product,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.2,12.2.2,EN_MAT_DOMCMPG,"Domestic material consumption per unit of GDP,...",4,Afghanistan,E,G,BIM,...,3.54062,3.55151,3.46922,3.10169,3.01790,2.81812,2.80302,2.91022,2.86592,2.85037
1,12,12.2,12.2.2,EN_MAT_DOMCMPG,"Domestic material consumption per unit of GDP,...",4,Afghanistan,E,G,COL,...,0.02612,0.03211,0.04509,0.04149,0.03869,0.06527,0.07135,0.07749,0.07949,0.08210

In [24]:
# 10th xlsx: domestic material consumption, by type of raw product
# Goal 12, Target 12.2, Indicator 12.2.2
dom_mat_consumption_total = pd.read_excel('data/EN_MAT_DOMCMPT.xlsx')
dom_mat_consumption_total.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Type of product,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.2,12.2.2,EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",4,Afghanistan,E,G,BIM,...,4.703888e+07,5.531095e+07,5.577784e+07,5.419777e+07,5.849743e+07,5.816242e+07,5.962340e+07,6.079494e+07,6.200024e+07,6.320554e+07
1,12,12.2,12.2.2,EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",4,Afghanistan,E,G,COL,...,3.470059e+05,5.000084e+05,7.250122e+05,7.250122e+05,7.500126e+05,1.347192e+06,1.517746e+06,1.618705e+06,1.719664e+06,1.820623e+06