# US Sustainability Analysis

Subset of the Sustainability_Analysis.ipynb that focuses on only the US

12.2 By 2020, achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks, and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on human health and the environment

## Import Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
import os

# Read in xlsx files related to UN's Goal of Sustainability

## Domestic Material Consumption Datasets

In [2]:
# Annual domestic material footprint per capita (all products)
# Goal 12, Target 12.1, Indicator 12.1
dom_mat_foot_pc = pd.read_csv('data/MF_Capita.csv')
dom_mat_foot_pc.head(5)

,Geo Area Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,2.456172,2.807363,2.063754,1.871904,1.603330,1.586151,1.447080,1.266949,0.968214,...,1.058332,1.176501,1.031040,1.267834,1.385571,1.331658,1.369278,1.298257,1.290003,1.280401
1,Albania,5.941814,7.312734,3.816274,3.479396,3.454095,3.500685,4.279693,4.032648,4.360028,...,9.154868,8.925755,9.391389,10.893929,8.961040,9.415124,9.615189,9.795425,10.579294,10.858666
2,Algeria,1.883958,1.975624,1.877587,1.831176,1.762691,1.850195,1.908802,1.663493,2.151658,...,2.174825,2.244173,2.354010,2.817447,2.723518,2.809988,2.940851,3.090425,3.014912,3.040873
3,Angola,2.029664,2.842628,2.765044,2.342318,2.379577,1.940383,1.858760,2.013577,2.244047,...,3.032437,3.625521,3.934292,4.665320,4.047195,4.002777,3.531080,4.299064,3.755791,3.749075
4,Antigua and Barbuda,19.567097,107.938667,25.697711,25.156472,25.531904,24.223319,23.989733,23.900970,21.427788,...,29.745412,26.654376,19.945414,13.936202,13.643082,14.573798,13.472434,13.605120,13.666560,13.629558

In [3]:
# Annual human development index
# Goal 12, Target 12.1, Indicator 12.1
hdi_data = pd.read_csv('data/HDI.csv',header='infer')
hdi_data.head(5)

,Geo Area Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,0.339,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,0.649,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,0.629,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.776,0.772,0.764,0.767,0.767,0.767,0.770,0.772,0.774,0.776

In [4]:
# Annual population 
# Goal 12, Target 12.1, Indicator 12.1
population_data = pd.read_csv('data/Population.csv',header='infer')
population_data.head(5)

,Geo Area Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,18034130.0,18511480.0,...,26528741,27207291,27962207,28809167.0,29726803,30682500,31627506,32526562,NaN,NaN
1,Albania,3281453.0,3275438.0,3240613.0,3189623.0,3140634.0,3106727.0,3092034.0,3092471.0,3102898.0,...,2968026,2929886,2901883,2886010.0,2880667,2883281,2889676,2896679,NaN,NaN
2,Algeria,25912364.0,26554277.0,27180921.0,27785977.0,28362015.0,28904300.0,29411839.0,29887717.0,30336880.0,...,34811059,35401790,36036159,36717132.0,37439427,38186135,38934334,39666519,NaN,NaN
3,Angola,11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,13801868.0,14187710.0,...,19842251,20520103,21219954,21942296.0,22685632,23448202,24227524,25021974,NaN,NaN
4,Antigua and Barbuda,61906.0,62412.0,63434.0,64867.0,66550.0,68349.0,70245.0,72232.0,74206.0,...,85350,86300,87233,88152.0,89069,89985,90900,91818,NaN,NaN

In [6]:
# Annual domestic material footprint per capita (all products)
# Goal 12, Target 12.2, Indicator 12.2
dom_mat_consumption_pc = pd.read_excel('data/EN_MAT_DOMCMPC_MOD.xlsx')
dom_mat_consumption_pc.head(5)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,Unnamed: 6,GeoAreaName,Nature,Reporting Type,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,NaN,Afghanistan,E,G,...,1.72341,1.97509,1.93652,1.82431,1.90564,1.83294,1.82012,1.80205,1.78902,1.77893
1,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,NaN,Afghanistan,E,G,...,0.01271,0.01785,0.02517,0.02440,0.02443,0.04246,0.04633,0.04798,0.04962,0.05124
2,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,NaN,Afghanistan,E,G,...,0.25770,0.39053,0.34634,0.26919,0.34736,0.34530,0.34594,0.34970,0.35385,0.35824
3,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,NaN,Afghanistan,E,G,...,0.35340,0.29748,0.39568,0.34340,0.30651,0.33876,0.34151,0.34352,0.34748,0.36444
4,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,NaN,Afghanistan,E,G,...,0.00145,0.00096,0.00258,0.00342,0.00336,0.00330,0.00324,0.00319,0.00315,0.00312

In [7]:
dom_mat_consumption_pc.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'Unnamed: 6', 'GeoAreaName', 'Nature', 'Reporting Type',
       'Type of product', 'Units', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [8]:
# Only keep necessary columns
dom_mat_consumption_pc = dom_mat_consumption_pc[['GeoAreaName', 'Type of product',
        '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']]
dom_mat_consumption_pc.head(5)

,GeoAreaName,Type of product,2000,2001,2002,2003,2004,2005,2006,2007,2008,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,BIM,2.26784,1.96185,2.07472,2.01228,1.93428,2.05029,1.76304,1.79459,1.72341,1.93652,1.82431,1.90564,1.83294,1.82012,1.80205,1.78902,1.77893
1,Afghanistan,COL,0.00005,0.00124,0.00096,0.00152,0.00141,0.00132,0.00135,0.00913,0.01271,0.02517,0.02440,0.02443,0.04246,0.04633,0.04798,0.04962,0.05124
2,Afghanistan,CPR,0.18138,0.18976,0.30292,0.32650,0.27031,0.36899,0.31217,0.37065,0.25770,0.34634,0.26919,0.34736,0.34530,0.34594,0.34970,0.35385,0.35824
3,Afghanistan,CRO,0.27159,0.23762,0.25770,0.30115,0.31546,0.26000,0.35249,0.31970,0.35340,0.39568,0.34340,0.30651,0.33876,0.34151,0.34352,0.34748,0.36444
4,Afghanistan,FEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00145,0.00258,0.00342,0.00336,0.00330,0.00324,0.00319,0.00315,0.00312

In [10]:
# Reformat dataframe by type of product
dom_mat_consumption_pc_group=dom_mat_consumption_pc.groupby(['Type of product']).sum()
dom_mat_consumption_pc_group=dom_mat_consumption_pc_group.T

In [11]:
# Reset index and add year col. Display
dom_mat_consumption_pc_group = dom_mat_consumption_pc_group.rename_axis('year').reset_index()
dom_mat_consumption_pc_group.head(5)

Type of product,year,BIM,COL,CPR,CRO,FEO,FOF,GAS,GBO,MEO,NFO,NMA,NMC,NMM,ONT,PET,RAW,WCH,WOD
0,2000,483.06764,80.706910,86.061887,175.89193,25.656225,304.193568,80.484458,130.252484,179.952527,25.656225,57.356670,645.992440,677.335820,9.93026,133.07190,1644.54954,9.207862,79.52056
1,2001,479.80988,83.673437,89.543906,175.82526,22.105270,312.880916,83.799267,124.989090,180.272598,22.105270,56.859240,622.507456,653.856730,9.96862,135.43965,1626.82006,8.856449,77.98070
2,2002,478.53314,83.973700,87.027310,176.30237,31.273030,321.817794,84.861150,124.939040,189.967920,31.273030,64.834210,632.565820,666.355480,10.24129,142.74159,1656.67435,9.594591,77.42681
3,2003,479.12037,86.380830,87.778936,177.38808,35.501280,329.064011,87.436848,124.290600,199.298460,35.501280,66.372000,638.584520,671.344400,12.39102,142.85538,1678.82720,9.385410,79.40727
4,2004,497.13378,86.000719,95.844136,176.00848,35.856033,333.420627,90.293077,126.233230,199.912690,35.856033,67.388979,688.717460,726.611149,11.90886,145.21802,1757.07828,9.185230,78.45107

In [11]:
#Convert dataframe to csv file for visualization
dom_mat_consumption_pc_group.to_csv('data/material_comp_prod.csv', encoding='utf-8',index='false')